@media all and (min-width: 480px) {
    .Login-wrapper {
       height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .Login {
        padding: 60px 20px;
        background-color: #fff;
        border-radius: 5px;
        width: 20em;
        height: 20em;
        -webkit-box-shadow: 0 0 5px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 5px -2px rgba(0,0,0,0.75);
        box-shadow: 0 0 5px -2px rgba(0,0,0,0.75);
        opacity: .9;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .Login-title {
        margin-top: 0;
        margin-bottom: 1em;
        color: #282c34ba;
    }
    
    .form-control {
        width: 90%;
        height: 3em;
        padding: 0 10px 0 10px;
        font-family: 'Roboto', sans-serif;
        color: #282c34ba;
        border-radius: 4px;
        border-color: #bebebe;
        border-style: solid;
        outline: none;
        border-width: 1px;
    }
    
    .submit-btn {
        width: 97%;
        height: 3em;
        border-radius: 5px;
        background-color: #00adff;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 12px;
        outline: none;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .submit-btn:hover {
        background-color: #0077ff;
    }
    
    .submit-btn-error {
        width: 97%;
        height: 3em;
        border-radius: 5px;
        background-color: #8fd9ff;
        border: none;
        cursor: not-allowed;
        color: white;
        font-size: 12px;
        outline: none;
    }
    
    .subtitle {
        text-align: start;
        padding-left: 4px;
        color: #282c34ba;
        margin-bottom: 7px;
    }
    
    .subtitle-auth {
        color: #282c34ba;
        text-align: center;
    }
    
    .Login:hover {
        opacity: 1;
    }
    
    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
    
    .form-group {
        margin-bottom: 3em;
    }
}